<!DOCTYPE html>
<html>
  <head>
    <title>Rails Vite.js</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_vite_tag %>
    <%= javascript_vite_tag %>
  </head>

  <body>
    <div class="container text-center py-5">
      <%= yield %>
    </div>
  </body>
</html>
